<h1><%= @article .title %></h1>
<p><%= @article .text %></p>

<h2>Comentarios</h2>
<%= render @article .comments %>

<h2>Agregar comentario</h2>
<%= render 'comments/form' %>

<%= link_to 'editar', edit_article_path( @article ) %>
<%= link_to 'regresar', articles_path %>
