<h1><%= @article .title %></h1>
<p><%= @article .text %></p>

<h2>Comentarios</h2>
<%= @article .comments .each do | comment | %>
    <p>
        <strong>Autor:</strong>
        <%= comment .commenter %>
    </p>
    <p>
        <strong>Comentario:</strong>
        <%= comment .body %>
    </p>
    <hr />
<% end %>

<h2>Agregar comentario</h2>
<%= form_with( model: [ @article, @article . comments .build ], local: true ) do | form | %>
    <p>
        <%= form .label :commenter %>
        <%= form .text_field :commenter %>
    </p>
    <p>
        <%= form .label :body %>
        <%= form .text_area :body %>
    </p>
    <p>
        <%= form .submit %>
    </p>
<% end %>
<%= link_to 'editar', edit_article_path( @article ) %>
<%= link_to 'regresar', articles_path %>
